@model RestaurantHome
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="@Model.Info1">Info1</label>
            <input type="text" asp-for="@Model.Info1" class="form-control" id="Info1" placeholder="Info1">
            <span asp-validation-for="@Model.Info1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Info2">Info2</label>
            <input type="text" asp-for="@Model.Info2" class="form-control" id="Info2" placeholder="Info2">
            <span asp-validation-for="@Model.Info2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.HomeImgFile">Image</label>
            <input asp-for="@Model.HomeImgFile" accept="image/*" class="form-control col-md-2" rows="3"></input>
            <span asp-validation-for="@Model.HomeImgFile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.HomeImgFile1">Image1</label>
            <input asp-for="@Model.HomeImgFile1" accept="image/*" class="form-control col-md-2" rows="3"></input>
            <span asp-validation-for="@Model.HomeImgFile1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.HomeImgFile2">Image2</label>
            <input asp-for="@Model.HomeImgFile2" accept="image/*" class="form-control col-md-2" rows="3"></input>
            <span asp-validation-for="@Model.HomeImgFile2" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>