@model  AboutVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-header">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md">
                <h2 class="heading-1">about</h2>
                <p class="text-1">Read our Story, How we started and about the Team</p>
            </div>
        </div>
    </div>
</section>

<section class="about2" id="about2">
    <div class="container">
        <div class="row grid grid-lg">
            <div class="col">
                <img src="~/images/@Model.AboutStory.StoryImg" alt="About image" class="img-fluid" />
            </div>

            <div class="col-pd">
                <h2 class="heading-2 text-left">Our story</h2>

                <p>
                    @Model.AboutStory.StoryContent
                </p>
                <a href="#" class="btn btn-primary btn-sm">see our menu</a>
            </div>
        </div>
    </div>
</section>

<!-- Services section -->
<section class="services" id="services">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header pt-5">
                    <h1 class="heading-2 text-white">Special service</h1>
                    <p class="text-2 text-white">What Special services we are offering now</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="slick-slider services-slider">
                @foreach (var item in Model.SpecialServices)
                {
                    <div class="services-content">
                        <img src="~/uploads/testimonial/@item.ServiceIMg" alt="" class="center-block" />
                        <h4 class="">@item.ServiceTitle</h4>
                        <p>@item.ServiceDesc</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<!-- team section -->
<section class="team" id="team">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header">
                    <h1 class="heading-2">our team</h1>
                    <p class="text-2">The Hardworking Team behind the restaurant</p>
                </div>
            </div>
        </div>
        <!-- cards -->
        <div class="row grid grid-md">
            @foreach (var team in Model.AboutTeams)
            {
                <div class="col text-center">
                    <div class="team-stuff">
                        <img src="~/images/@team.TeamImg" alt="cooker image" class="center-block" />
                        <h4>@team.CookName</h4>
                        <p>@team.Designation</p>
                        <ul class="team-social">
                            <li>
                                <a href="@team.Facebook">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@team.Twiter"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="@team.Google"><i class="fab fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- User testimonials -->
<div class="trusted" id="trusted">
    <div class="trusted-quote">
        <div class="container">
            <div class="row">
                <div class="trusted-slider">
                    @foreach (var testimonial in Model.AboutTestimonials)
                    {
                        <div class="trusted-content">
                            <img src="~/images/quote.png" alt="quote image" />
                            <p class="quote-body">
                                @testimonial.QuoteBody
                            </p>
                            <p class="quote-author">
                                @Html.Raw(testimonial.QuoteAuthor)
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>