@model ContactVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md">
                <h2 class="heading-1">Contact</h2>
                <p class="text-1">Tomato is a delicious restaurant website template</p>
            </div>
        </div>
    </div>
</section>

<section class="contact" id="contact">
    <div class="container">
        <div class="row grid">
            <div class="col col-1">
                <div class="contact-box footer-adress">
                    <h3 class="contact-box--header">adress</h3>
                    <div class="contact-box__info">
                        <p>
                            <i class="fas fa-map-marker-alt"></i> 28 Seventh Avenue, Neew York, 10014
                        </p>
                        <p>
                            <i class="fa fa-phone"></i> Phone: (415) 124-5678
                        </p>
                        <p>
                            <i class="fa fa-envelope"></i> support@restaurant.com
                        </p>
                    </div>
                </div>
                <div class="contact-box">
                    <h3 class="contact-box--header">Working hours</h3>
                    <div class="contact-box__info">
                        <p class="text-muted">10:00 am to 11:00 pm on Weekdays</p>
                        <p class="text-muted">11:00 am to 11:30 pm on Weekends</p>
                    </div>
                </div>
                <div class="contact-box">
                    <h3 class="contact-box--header">follow us</h3>
                    <div class="contact-box__social">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.dribbble.com/"><i class="fab fa-dribbble"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col col-2">
                <form asp-action="getcontact" asp-controller="contact" method="post" class="form" id="contactForm">
                    <div class="form-group">
                        <input type="text" asp-for="@Model.Contact.FullName" class="form-control" placeholder="Full Name" id="name" required="required" />
                        <span asp-validation-for="@Model.Contact.FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="email" asp-for="@Model.Contact.Mail" class="form-control" id="email" placeholder="Email Address" required="required" />
                        <span asp-validation-for="@Model.Contact.Mail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="@Model.Contact.Subject" class="form-control" placeholder="Subject" required="required" id="subject" />
                        <span asp-validation-for="@Model.Contact.Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea type="text" asp-for="@Model.Contact.Message" class="form-control" rows="10" placeholder="Message"></textarea>
                        <span asp-validation-for="@Model.Contact.Message" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <button type="submit" class="btn btn-primary btn-lg">Send message</button>
                </form>
            </div>
        </div>
    </div>
</section>